


/*positioning of microwave window */
.window {
    display: absolute;
    margin-top: 20%;
    margin-left: 5%;
    border: thin red solid;
    width:50%;
    padding: 0;
    float:left;
}
.window img {
    width:100%;
}


.right-panel {
    display: absolute;
    border: thin red solid;

}

/*flex box for microwave buttons -needs work*/
.button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 20% 5% 5% 65%;
    background-color: black;
    padding: 4px; 
    border: thin red solid;

}
.button img {
	display: flex;
	flex-wrap:wrap;
    width: 33%;
}

